@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Moaaz Abouobaida's Games</h1>
    <p>Thank you for visiting my website.</a>.</p>

    <iframe src="/Game/index.html" width="960" height="600" frameborder="0"></iframe>

</div>
